* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App {
  display: flex;
  justify-content: center;
} */

.top-bars {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(211, 255, 204);
  margin: 0.5rem;
}

.top-bars img {
  height: 3rem;
}

.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (max-width: 1300px) {
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
